/* style.css */

body {
    background-color: #f8f8f8;
}

h1 {
    border: hidden;
    color: #008080; /* Change text color to white */
    text-align: center;
    padding: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow for visibility */
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    color: #e;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.plot-title {
    font-size: 35px; /* Adjust the font size as needed */
}

.plot-container {
    width: 100%; /* Make the container stretch to full width */
    margin: 0 auto; /* Center the container horizontally */
}

.plot-chart {
    width: 100%; /* Make the chart fill the entire width of its container */
    height: auto; /* Allow the height to adjust according to the content */
}

/* Additional styles for the navbar and body */
.navbar {
    background-color: #007bff; /* Blue navbar */
    border-bottom: 1px solid #0056b3; /* Darker blue border */
}

.navbar-brand {
    color: #fff; /* White text for brand */
    font-weight: bold; /* Bold font weight */
}

.loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #007bff; /* Color of the spinner */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

.radio-container {
    margin-left: 20px; /* Adjust spacing between containers */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 10px; /* Radius of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar handle on hover */
}

/* Button */
::-webkit-scrollbar-button {
  display: none; /* Hide the scrollbar buttons (arrows) */
}

/* Corner */
::-webkit-scrollbar-corner {
  background: transparent; /* Background color of the scrollbar corner */
}



@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
