/* style.css */

body {
    background-color: #f8f8f8;
    background-image:
        radial-gradient(circle at 10% 20%, #FFFFFF 10%, transparent 15%),
        radial-gradient(circle at 80% 20%, #FFFFFF 10%, transparent 15%);
    background-size: 30px 30px;
    background-repeat: repeat;
}

h1 {
    border: hidden;
    color: #008080; /* Change text color to white */
    text-align: center;
    padding: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow for visibility */
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 34px; /* Adjust font size as needed */
    font-weight: bold; /* Make the font bold */
    border: none; /* Use 'none' instead of 'hidden' for border */
    color: #333; /* Dark gray */
    text-align: center;
    padding: 5px;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    color: #e;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Add this style for x-axis label */
#player_career_chart .plot-container .plot-axis.x .plot-axis-label text {
    font-size: 28px !important; /* Adjust the font size for x-axis label */
}
/* Add this style for tooltip within the player career chart */
#player_career_chart g[aria-label="tip"] text {
    font-size: 14px; /* Adjust the font size for the tooltip */
    background-color: #fff; /* Background color of the tooltip */
    color: #333; /* Text color of the tooltip */
    border: 1px solid #ccc; /* Border of the tooltip */
    border-radius: 4px; /* Border radius of the tooltip */
    padding: 8px; /* Padding inside the tooltip */
}

/* Add this style for y-axis label */
#player_career_chart .plot-container .plot-axis.y .plot-axis-label text {
    font-size: 28px !important; /* Adjust the font size for y-axis label */
}

/* Add this style for x-axis ticks */
#player_career_chart .plot-container .plot-axis.x .plot-tick text {
    font-size: 25px !important; /* Adjust the font size for x-axis ticks */
}

/* Add this style for y-axis ticks */
#player_career_chart .plot-container .plot-axis.y .plot-tick text {
    font-size: 25px !important; /* Adjust the font size for y-axis ticks */
}

.plot-title {
    font-size: 35px; /* Adjust the font size as needed */
}

/* Adjust the left margin to move the chart to the left */
#player_career_chart {
    width: calc(66.666% - 40px); /* Set width to 2/3 of the screen */
    margin-margin-right: 25%; /* Adjust the left margin as needed */
}


.plot-container {
    width: 100%; /* Make the container stretch to full width */
    margin: 0 auto; /* Center the container horizontally */
}

.plot-chart {
    width: 100%; /* Make the chart fill the entire width of its container */
    height: auto; /* Allow the height to adjust according to the content */
}

/* Additional styles for the navbar and body */
.navbar {
    background-color: #007bff; /* Blue navbar */
    border-bottom: 1px solid #0056b3; /* Darker blue border */
}

.navbar-brand {
    color: #fff; /* White text for brand */
    font-weight: bold; /* Bold font weight */
}

.navbar-nav .
