{% extends 'base.html' %}
{% block content %}
    <div class="plot-container">
        <h2 class="plot-title">{% block title %} 2023-2024 Season {% endblock %}</h2>
        <div id="plot_wrapper"> <!-- Added wrapper div with ID 'plot_wrapper' -->
            <div id="league_standings_chart" class="plot-chart"></div>
        </div>
    </div>

    <script>
        var league_data = {{ league_data | tojson | safe }};
    </script>
    <script type="module" src="{{ url_for('static', filename='js/league_standings.js') }}"></script>
{% endblock %}
