{% extends 'base.html' %}
{% block content %}
    <div class="plot-container">
        <h2 class="plot-title">{% block title %} Career Stats {% endblock %}</h2>
        <div id="plot_wrapper"> <!-- Added wrapper div with ID 'plot_wrapper' -->
            <div id="player_career_chart" class="plot-chart"></div>
        </div>
    </div>

    <script>
        var player_data = {{ player_data | tojson | safe }};
        var metric = "{{ metric }}";
        var metric_title = "{{ metric_title }}";
        var player_name = "{{ player_name }}";
    </script>
    <script type="module" src="{{ url_for('static', filename='js/player_career.js') }}"></script>
    <!-- Import CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/player_career.css') }}">
{% endblock %}
